extends layout

block content
      nav#mainNav.navbar.navbar-expand-lg.navbar-light.fixed-top.py-3
        .container
          a.navbar-brand.js-scroll-trigger(href='#page-top') Bienvenido a Express!!!
          button.navbar-toggler.navbar-toggler-right(type='button' data-toggle='collapse' data-target='#navbarResponsive' aria-controls='navbarResponsive' aria-expanded='false' aria-label='Toggle navigation')
            span.navbar-toggler-icon
          #navbarResponsive.collapse.navbar-collapse
            ul.navbar-nav.ml-auto.my-2.my-lg-0
              li.nav-item
                a.nav-link.js-scroll-trigger(href='#about') Nosotros
              li.nav-item
                a.nav-link.js-scroll-trigger(href='#services') Bicicletas
              li.nav-item
                a.nav-link.js-scroll-trigger(href='#portfolio') Portfolio
              li.nav-item
                a.nav-link.js-scroll-trigger(href='#contact') Contacto
      // Masthead
      header.masthead
        .container.h-100
          .row.h-100.align-items-center.justify-content-center.text-center
            .col-lg-10.align-self-end
              h1.text-uppercase.text-white.font-weight-bold Bicicletas Urbanas
              hr.divider.my-4
            .col-lg-8.align-self-baseline
              p.text-white-75.font-weight-light.mb-5
                | La primera comunidad online de ciclistas urbanos
              a.btn.btn-primary.btn-xl.js-scroll-trigger(href='#about') Comenzar
      // About
      section#about.page-section.bg-primary
        .container
          .row.justify-content-center
            .col-lg-8.text-center
              h2.text-white.mt-0 Tenemos lo que necesitas!
              hr.divider.light.my-4
              p.text-white-50.mb-4
                | ¡Tenemos todo lo que necesitas para que empieces a disfrutar el transporte en bicicleta! Elije uno de nuestros planes, fáciles de usar, sin cargos ni condiciones ocultas. 
              a.btn.btn-light.btn-xl.js-scroll-trigger(href='#services') Empieza ahora!
      // Services
      section#services.page-section
        .container
          #main_map 
          h2.text-center.mt-0 Busca bicicletas disponibles en el mapa
          hr.divider.my-4
          .row
            .col-lg-3.col-md-6.text-center
              .mt-5
                i.fas.fa-4x.fa-gem.text-primary.mb-4
                h3.h4.mb-2 En perfectas condiciones
                p.text-muted.mb-0 Revisamos y mantenemos nuestras bicicletas en óptimas condiciones de funcionamiento
            .col-lg-3.col-md-6.text-center
              .mt-5
                i.fas.fa-4x.fa-laptop-code.text-primary.mb-4
                h3.h4.mb-2 Información actualizada
                p.text-muted.mb-0 La disponibilidad de las bicicletas se actualiza en tiempo real.
            .col-lg-3.col-md-6.text-center
              .mt-5
                i.fas.fa-4x.fa-globe.text-primary.mb-4
                h3.h4.mb-2 Amplia red de estaciones
                p.text-muted.mb-0 Puedes entregar la bicicleta en la estación más cercana a tu lugar de destino.
            .col-lg-3.col-md-6.text-center
              .mt-5
                i.fas.fa-4x.fa-heart.text-primary.mb-4
                h3.h4.mb-2 Pasión por nuestro trabajo
                p.text-muted.mb-0 Trabajamos con pasión para atender las necesidades de nuestros clientes.
      // Portfolio
      #portfolio
        .container-fluid.p-0
          .row.no-gutters
            .col-lg-4.col-sm-6
              a.portfolio-box(href='assets/img/portfolio/fullsize/1.jpg')
                img.img-fluid(src='assets/img/portfolio/thumbnails/1.jpg' alt='')
                .portfolio-box-caption
                  .project-category.text-white-50 Category
                  .project-name Bicicletas completamente equipadas
            .col-lg-4.col-sm-6
              a.portfolio-box(href='assets/img/portfolio/fullsize/2.jpg')
                img.img-fluid(src='assets/img/portfolio/thumbnails/2.jpg' alt='')
                .portfolio-box-caption
                  .project-category.text-white-50 Category
                  .project-name Casco de seguridad uso obligatorio
            .col-lg-4.col-sm-6
              a.portfolio-box(href='assets/img/portfolio/fullsize/3.jpg')
                img.img-fluid(src='assets/img/portfolio/thumbnails/3.jpg' alt='')
                .portfolio-box-caption
                  .project-category.text-white-50 Category
                  .project-name Désarga gratis Rutas / recorridos
            .col-lg-4.col-sm-6
              a.portfolio-box(href='assets/img/portfolio/fullsize/4.jpg')
                img.img-fluid(src='assets/img/portfolio/thumbnails/4.jpg' alt='')
                .portfolio-box-caption
                  .project-category.text-white-50 Category
                  .project-name Rutinas estrictas de mantenimiento
            .col-lg-4.col-sm-6
              a.portfolio-box(href='assets/img/portfolio/fullsize/5.jpg')
                img.img-fluid(src='assets/img/portfolio/thumbnails/5.jpg' alt='')
                .portfolio-box-caption
                  .project-category.text-white-50 Category
                  .project-name Canastas disponibles para mascotas
            .col-lg-4.col-sm-6
              a.portfolio-box(href='assets/img/portfolio/fullsize/6.jpg')
                img.img-fluid(src='assets/img/portfolio/thumbnails/6.jpg' alt='')
                .portfolio-box-caption.p-3
                  .project-category.text-white-50 Category
                  .project-name Todas equipadas con luces nocturnas
      // Call to action
      section.page-section.bg-dark.text-white
        .container.text-center
          h2.mb-4 ¡Déscarga gratis la applicación en tu teléfono!
          a.btn.btn-light.btn-xl(href='https://startbootstrap.com/theme/creative/') Download Now!
      // Contact
      section#contact.page-section
        .container
          .row.justify-content-center
            .col-lg-8.text-center
              h2.mt-0 Información de contacto
              hr.divider.my-4
              p.text-muted.mb-5
                | ¿Tienes alguna inquietud, queja o sugerencia? Te dejamos el telefóno y mail de contacto. Responderemos a la brevedad.
          .row
            .col-lg-4.ml-auto.text-center.mb-5.mb-lg-0
              i.fas.fa-phone.fa-3x.mb-3.text-muted
              div +1 (555) 123-4567
            .col-lg-4.mr-auto.text-center
              i.fas.fa-envelope.fa-3x.mb-3.text-muted
              // Make sure to change the email address in BOTH the anchor text and the link target below!
              a.d-block(href='mailto:contact@yourwebsite.com') contact@bicicletas urbanas.com
      // Footer
      footer.bg-light.py-5
        .container
          .small.text-center.text-muted Copyright &copy; 2021 - Bicicletas urbanas
      // Bootstrap core JS
      //- script(src='https://code.jquery.com/jquery-3.5.1.slim.min.js')
      script(src='https://code.jquery.com/jquery-3.2.1.min.js')
      script(src='https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js')
      // Third party plugin JS
      script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js')
      script(src='https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js')
      // Core theme JS
      script(src='/javascripts/scripts.js')
      script(src='/javascripts/map.js')
