extends ../layout

block content
    a(href='/usuarios') Volver
    br
    br
    h1.col-sm-3 Login


    form.col-sm-3(action="/usuarios/login", method="post")
        input.form-control.my-3(type="text" name="user" placeholder="User")
        input.form-control.my-3(type="password" name="password" placeholder="Password")
        input.btn.btn-success.float-right(type="submit"  value='Ingresar')